* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 241, 169);
  font-family: Arial;
  font-size: 20px;
  padding: 75px;
}

h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

h3 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.first {
  color: rgb(76, 0, 255);
}

#your-name {
  background-color: rgb(247, 166, 62);
  border: 2px dotted rgb(105, 104, 104);
  padding: 10px;
  width: 500px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
}

a {
  background-color: yellowgreen;
}

#your-name h2 {
  color: olivedrab;
}

#face-shot {
  width: 200px;
  align-content: center;
}
